@import url("../../css/borders.css");

a,span {
color:white!important;
text-shadow:1px 1px 1px black;
}

body,#body{
background:#ccccff;
color:white;
font-family:Verdana,sans-serif;
}

.cell0,table.post {
background:rgba(128,128,255,0.5);
}

.cell1,td.post {
background:rgba(128,128,212,0.5);
}

.cell2,.errorc {
background:rgba(100,100,191,0.5);
}

.header0 th {
background:linear-gradient(to top, rgba(0,0,128,0.7) 0%, rgba(0,0,212,0.7) 100%);
color:white!important;
}

.header1 th {
background:linear-gradient(to bottom, rgba(0,0,128,0.7) 0%, rgba(0,0,212,0.7) 100%);
color:white!important;
}

input, select, textarea, button {
background:white;
color:black!important;
border:1px solid black;
}
