/* AcmlmBoard XD - Shared elements */

html
{
	width: 100%;
	height:100%;
}

body
{
	background-color: #222;
	color: #FFF;
	font-family: "Verdana", "Lucida Grande", sans-serif;
	font-size: 1em; /* 10pt; */
	margin: 0;
	height:100%;
	width:100%;
}

#body {
	background-color:black;
	width:100%;
}

#body-wrapper {
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}

h3
{
	font-family: "Verdana", "Lucida Grande", sans-serif;
	font-size: 1.2em; /* 12pt; */
	font-weight: bold;
	margin: 0;
}
h4
{
	font-family: "Verdana", "Lucida Grande", sans-serif;
	font-size: 1em; /* 10pt; */
	margin: 0;
}

a
{
	text-decoration: none;
	font-weight: bold;
}
a, a span
{
	     -o-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
	        transition: color .2s ease-in-out;
	   -moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
}

img {
    max-width:100%;
    height:auto;
}

a img
{
	border: none;
}

/* Default border color */
table, td, tr, th, div
{
	border-color:black;
padding: 3px;
}

/* Default padding */
td
{
	padding:2px 4px 2px 4px;
}

/* Default link colors */
a:link
{
	color: #FFC040;
}
a:visited
{
	color: #FFC040;
/*	color: #C09030;*/
}
a:active
{
	color: #FFEA60;
}
a:hover
{
	color:#FFF;
}
a:hover span
{
	color: #FFF ;
}

.pagelink
{
	padding:5px;
	display:inline-block;
}

/* Name color table */
.nc0x { color: #888888; } .nc1x { color: #888888; } .nc2x { color: #888888; }
.nc00 { color: #97ACEF; } .nc10 { color: #F185C9; } .nc20 { color: #7C60B0; }
.nc01 { color: #D8E8FE; } .nc11 { color: #FFB3F3; } .nc21 { color: #EEB9BA; }
.nc02 { color: #AFFABE; } .nc12 { color: #C762F2; } .nc22 { color: #47B53C; }
.nc03 { color: #FFEA95; } .nc13 { color: #C53A9E; } .nc23 { color: #F0C413; }
.nc04 { color: #5555FF; } .nc14 { color: #FF5588; } .nc24 { color: #FF55FF; }
.nc05 { color: #FF0000; } .nc15 { color: #FF0000; } .nc25 { color: #FF0000; }


/* Widths */
.width100
{
	width: 100%;
}
.width75
{
	width: 75%;
}
.width50
{
	width: 50%;
}
.width25
{
	width: 25%;
}

.margin
{
	margin-bottom: .5em;
}


/* Positioning */

.left
{
	text-align: left;
}
.right
{
	text-align: right;
}

/* Some styles */

.block
{
	display: block;
}

.center
{
	text-align: center;
}

.underline
{
	text-decoration: underline;
}

table
{
	color: #FFF;

	border-collapse: separate;
	border-spacing:0;
	width: 100%;
	font-weight: normal;
}

tr.header0>th, tr.header1>th, .errorc,.errort
{
	text-align: center;
	font-size: .85em; /* 8pt; */
}

/* Post tables */

table.post
{
	width: 100%;
	margin-bottom: 8px;
}

table.post td.side
{
	width: 15%;
	vertical-align: top;
	padding: 4px 10px 4px 10px;
}

table.post td.post
{
	padding:10px;
	vertical-align: top;
	height: 100px;
	word-wrap: break-word;
}

.mobile_post {
	word-wrap: break-word;
}

table.post td.meta
{
	font-size: .85em; /* 8pt; */
	height: 14px;
	margin: 0;
	padding-right: 4px;
}


/* Message tables */

table.message td, table.message th
{
	text-align:center;
	font-size:1em;
}

table.message td
{
	padding: 10px;
}


/* Other stuff */

.PoRT
{
vertical-align:middle;
	margin-right: 1em;
}

.PoRT td, .PoRT th, .smallFonts td, .smallFonts
{
	font-size: .85em; /* 8pt; */
}

.footer
{
	text-align: center;
	width: 100%;
	font-size: .8em; /* 10pt; */
	clear: both;
	padding-top: 12px;
	padding-bottom:12px;
}

.links
{
	font-size: 1em; /* 10pt; */
	text-align: right;
}

.faq
{
	padding: 4px;
}

.ignored
{
	opacity: 0.5;
}

/* [Quote] stuff */
div.quote
{
	padding: 4px;
	margin-top: 4px;
	margin-bottom:4px;
	margin-left:50px;
	margin-right:10px;
}

div.quote div.quotecontent
{
	padding:4px;
	margin-top:4px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

div.quote div.quoteheader
{
	font-size:10px;
	font-style:italic;
}

.codeblock
{
	white-space:pre-wrap;
	font-family: "Consolas", "Lucida Console", "Courier New", monospace;
	padding:4px;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
}

form
{
	margin: 0;
}

.minipic
{
	vertical-align: top;
}

div.spoiler
{
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;

}
div.spoiler button
{
	font-size: .8em; /* 10px; */
}

div.spoiler div.spoiled
{
	background: #000;
	color: #FFF;
	padding:10px;
}

div.spoiler div.hidden
{
	display: none;
}

ul.pipemenu
{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.pipemenu li
{
	display: inline-block;
	border-left: 1px solid white;
	padding-left: 4px;
	padding-right: 4px;

}
ul.pipemenu li:first-child
{
	border-left-width: 0;
}


ul.breadcrumbs
{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.breadcrumbs li
{
	display: inline-block;
	padding-left: 4px;
	padding-right: 1px;

}
ul.breadcrumbs li:before
{
	content:"» ";
}

ul.breadcrumbs li:first-child:before
{
	content:"";
}

.footer a img
{
	opacity: .5;
	     -o-transition: opacity .2s ease-in-out;
		-ms-transition: opacity .2s ease-in-out;
	        transition: opacity .2s ease-in-out;
	   -moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
}

.footer a:hover img
{
	opacity: 1;
}

.smilies img, #rss img
{
	padding: 1px;
	margin: 0;
	border: 1px solid rgba(255, 255, 255, 0);
}

.smilies img:hover, #rss img:hover
{
	background: rgba(255, 255, 255, .25);
	border: 1px solid rgba(255, 255, 255, .5);
}

input, select, textarea, button
{
	font-size: 1em;
}

/* Fix white-on-white on Chrome */
select option, select optgroup
{
	background-color:inherit;
}

input[disabled], button[disabled]
{
	opacity: .5;
}
input.color
{
	background-image:none;
}
textarea
{
	font-family: "Consolas", "Lucida Console", "Courier New", monospace;
}

#pmNotice
{
	background: #BB8;
	color: #000;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 4px 8px;
	font-size: 1em; /* 12px; */
	border: 1px none;
	border-bottom: 2px solid #000;
	opacity: .5;
	     -o-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}
#pmNotice:hover
{
	opacity: 1;
	background: #FFC;
}
#pmNotice a span, #pmNotice a
{
	color: #C09030;
}
#pmNotice a:hover span, #pmNotice a:hover
{
	color: #000;
}

.geshi
{
	color: #FFF;
}

.geshi .kw0, .geshi .kw1, .geshi .kw2, .geshi .kw3, .geshi .kw4
{
	font-weight: bold;
	color: #AAF;
}

.geshi .st0
{
	font-style: italic;
}
.geshi .br0, .geshi .sy0
{
	color: #488;
}
.geshi .co1, .geshi .coMULTI
{
	font-style: italic;
	color: #884;
}

.badge
{
	border: 2px solid #666;
	background: #444;
	font-size: 10px;
	color: #FFF;
	margin: 0;
	padding: 0px 3px;
	white-space: nowrap;
}
.bronze
{
	border-color: chocolate;
	background: #946231;
}
.silver
{
	border-color: silver;
	background: #949494;
}
.gold
{
	border-color: gold;
	background: #E8B400;
}
.platinum
{
	border-color: darkgray;
	background: #948e82;
}

#expandedSet, #expandedHelp
{
	display: none;
}

button.expander
{
	font-weight: bold;
	border-width:1px; border-style:solid;
	padding: 0;
	width: 20px;
	margin: 0;
	float: right;
}

button.expander:hover
{
	border: 1px solid #FFF;
}

.threadTag {
	color:white;
	font-size: 1em;
	text-shadow: 1px 1px 0px hsla(0, 0%, 0%, .5);
	padding: 0px 2px;
	border: 1px dotted hsla(0, 0%, 100%, .75);
	box-shadow: 1px 1px 2px hsla(0, 0%, 0%, .5);
	margin-right: 2px;
	white-space: nowrap;
}

td.threadIcon
{
	width: 20px;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
}

.pollbarContainer
{
	border: 1px solid #669;
	margin: .2em;
	box-shadow: inset 0px 4px 8px #000;
	border-radius: 8px;
	width: 75%;
}

.pollbar
{
	border-width:1px; border-style:solid;
	background: silver;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	box-shadow: inset 0px -4px 12px #000;
	border-radius: 8px;
}

.eptable {
	margin: 0px 0px ;
}

div#tabs
{
	position: relative;
	top: 1px;
	margin: 0px 0px;
	margin-bottom: -1px;
	padding: 0px 0px;
	padding-left: 4px;
	cursor: default;
}

div#tabs button
{
	margin: 0px;
	padding-right: 16px;
}
div#tabs button.selected
{
	position: static;
	z-index: -100;
	border-bottom-width: 0px;
}

td.threadIcons label > input
{
	display: none;
}

td.threadIcons label > input ~ *
{
	background: rgba(255, 255, 255, 0);
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 4px;
	padding: 0px 2px;
}

td.threadIcons label > input:checked ~ *
{
	background: rgba(255, 255, 255, .25);
	border: 1px solid rgba(255, 255, 255, .5);
}

.avaLib img
{
	padding: 1px;
	opacity: .5;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 4px;
	     -o-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
	        transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
}
.avaLib img:hover
{
	margin: 0;
	opacity: 1;
	background: rgba(255, 255, 255, .25);
	border: 1px solid rgba(255, 255, 255, .5);
	     -o-transform: scale(1.1);
		-ms-transform: scale(1.1);
	        transform: scale(1.1);
	   -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

@media handheld
{
	.nom
	{
		display: none;
	}
}

div.postToolbar {
	margin-bottom: 1px;
}

div.postToolbar button {
	margin-right: 1px;
	padding-left: 0px;
	padding-right: 0px;
	width: 24px;
	height: 24px;
}

.themeselector input:checked + label, .fe_selected {
	outline: 1px solid rgba(255, 255, 255, 0.5);
	background: rgba(0, 0, 0, 0.5);
}

input[type="checkbox"]
{
	vertical-align:middle;
}

label
{
	display:inline-block;
}

div.overlayShade {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 1s;

}

@-webkit-keyframes fadeIn {
	from {
		background: rgba(0, 0, 0, 0);
	}
	to {
		background: rgba(0, 0, 0, 0.5);
	}
}

div.overlayShade div.message {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	-webkit-animation-name: overlayScaleIn;
	-webkit-animation-duration: 0.25s;
}

@-webkit-keyframes overlayScaleIn {
	from {
		opacity: 0;
		-webkit-transform: scale(0.75);
	}
	to {
		oacpty: 1;
		-webkit-transform: scale(1);
	}
}

div.overlayShade div.overlayContent {
	padding: 16px;
}

div.overlayShade div.buttonContainer {
	text-align: right;
}

div.overlayShade div.buttonContainer button {
	margin: 8px;
}

.postToolbar {
	cursor: default;
}

.xdebug-error {
	color:black;
}

.floatright {
	float: right;
}

/* float shouldn't overflow page_contents */
#page_contents:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

input {
max-width:95%!important;
}