@import url("../../css/borders.css");

body,#body{
background:#000033;
color:white !important;
font-family:Verdana,sans-serif;
}

.cell0,table.post {
background:rgba(0,0,128,0.5);
}

.cell1,td.post {
background:rgba(0,0,100,0.5);
}

.cell2,.errorc {
background:rgba(0,0,90,0.5);
}

.header0 th {
background:linear-gradient(to top, rgba(0,0,128,0.7) 0%, rgba(0,0,212,0.7) 100%);
}

.header1 th {
background:linear-gradient(to bottom, rgba(0,0,128,0.7) 0%, rgba(0,0,212,0.7) 100%);
}

input, select, textarea, button {
background:white;
color:black;
border:1px solid black;
}